@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);


a:link :visited :hover :active {text-decoration: none;}
ul li{list-style: none;}
body{font-family: "ratio-display";
/*font-family: "Alef Hebrew"*/}
.notes{
	color: #FF00E0;
	font-size: 15px;
}
.container{
	padding:10px;
/*	margin: auto;
	max-width: 960px;*/
}

.hebrew-font{ font-family: "Alef Hebrew";   Arial,
               sans-serif;}

.navbar li{
	font-size: 16px;
	margin-left: 30px;
	display: inline-block;
	text-align: center;
}
.navbar li a{
	text-align: center;
	color: #CE7126;
}
.navbar li a img{
	margin-bottom: 10px;
	width: 80%;

}
.languages li a{
	background-color: #CE7126;
	color: white;
	padding: 4px;
}

.languages li a:hover{
background-color: white;
	color: #CE7126;}
.hebrew{
	transform: rotate(6deg);
	margin-top: 20px;}
.english{
	margin-top: 20px;
	transform: rotate(-2deg);}
.categories{
	font-size: 20px;
	font-weight: 
}

#current-image{
background-image: url("../images/kinshasa-ville1.jpg");
/*background-image: url("../images/pregnant.jpg");*/
background-repeat: no-repeat;
z-index: -1;
/*	position: absolute;*/
width: 100%;
height: 600px;
}

#logo img{width: 65%;}

#navline{
	padding-top: 20px;
	background-color: white;
		padding:15px;
	/*max-width: 960px;
	margin: auto;*/
}
#current-text{
text-align: center;
}
#exhibition-name{
	font-size: 100px;
	color: white;
	text-shadow: 3px 3px #CE7126;

/*	font-weight: bolder;
*/	}
#current-date{
/*	font-weight: bolder;*/
	color: white;
	font-size: 30px;
	text-shadow: 2px 2px #CE7126;

}
#about-main{;
font-size: 28px;
}
.description{font-size: 20px;}

.landing-about{margin-top: 80px;}
.past-exhib{margin-top: 10px;}
.past-exhib:hover {opacity: .5;}

/*Menu items*/


/* ==========================================================================
   Media queries
   ========================================================================== */

@media screen and (max-width:991px){

#exhibition-name{
	font-size: 90px;
	color: white;
	font-weight: bolder;
	}
#current-date{
		font-weight: bolder;
	color: white;
	font-size: 25px;
}

}/* end max-width 991 */

@media screen and (max-width:767px){

#exhibition-name{
	font-size: 50px;
	color: white;
	font-weight: bolder;
	}
#current-date{
	font-weight: bolder;
	color: white;
	font-size: 20px;
}
}/* end max-width 767 */
